div {
    display: flex;
}

.cell {
    height: var(--bread-cell-height);
    width: calc(var(--bread-cell-height) * 0.6);
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

.image {
    height: calc(0.6 * var(--bread-cell-height));
    width: calc(0.6 * var(--bread-cell-height));
    background-color: bisque;
    margin: 10px;
    border-radius: calc(var(--bread-cell-height) / 2);
}

.add-button {
    background-color: var(--primary-color);
    border-radius: 8px;
}

